<div class="box_photo_form">
    <div class="top_bar_options">
        <button id="closeChangePhoto">
            <i class='bx bx-x'></i>
        </button>
    </div>
    <div class="photo_form">
        <div class="input_wrapper">
            <div class="btt_search_file" id="btt_search_file">
                <label for="inputPhoto">Escolher Foto</label>
            </div>
            <input id="inputPhoto" name="userPhoto" type="file">
            <span id="photoName"></span>
        </div>
        <div class="photo_preview">
            <div class="photo_box">
                <div id="photo" class="photo">

                </div>
            </div>
        </div>
        <div class="submitButton">
            <button id="bttChangePhoto" type="button">Salvar</button>
        </div>
    </div>
</div>