<div class="messages" id="messages">
    <div class="box_messages" id="box_messages">
        <!-- As mensagens serão exibidas aqui -->
    </div>
    <div class="box_textbar">
        <input type="text" name="messageInput" id="messageInput" placeholder="Digite uma mensagem">
        <button type="button" id="bttSendMessage">Enviar</button>
    </div>
</div>