<div class="box_profile" id="box_profile">
    <div class="box_form_profile">
        <div class="profile_photo">
            <div class="photo_box">
                <div class="photo"></div>
                <div class="camera_icon">
                    <span><i class='bx bx-camera'></i></span>
                </div>
            </div>
            <ul class="photo_options">
                <li id="changePhoto">Trocar Foto</li>
                <li id="removePhoto">Remover Foto</li>
            </ul>
        </div>
        <div class="box_fild">
            <div class="label">
                <label for="name">Nome</label>
            </div>
            <input type="text" id="name" class="userInfoInput" />
            <button style="visibility: hidden;">alterar nome</button>
        </div>
        <div class="box_fild">
            <div class="label">
                <label for="email">Email</label>
            </div>
            <input type="text" id="email" class="userInfoInput" disabled />
            <button type="button" id="bttSaveEmail">Alterar Email</button>
        </div>
        <button type="button" id="bttSaveInfo">Salvar</button>
    </div>
</div>