<div class="box_profile" id="box_profile">
    <div class="box_form_profile">
        <div class="profile_photo">
            <div class="photo"></div>
        </div>
        <div class="box_fild">
            <div class="label">
                <label for="name">Nome</label>
            </div>
            <input type="text" id="name" class="userInfoInput" />
            <button style="visibility: hidden;">alterar nome</button>
        </div>
        <div class="box_fild">
            <div class="label">
                <label for="email">Email</label>
            </div>
            <input type="text" id="email" class="userInfoInput" disabled />
            <button type="button">Alterar Email</button>
        </div>
        <div class="box_fild">
              <button type="button">Alterar Senha</button>
        </div>
        <button type="button">Salvar</button>
    </div>
</div>