<div class="box_remove_photo">
    <div class="top_bar_options">
        <button id="closeRemovePhoto">
            <i class='bx bx-x'></i>
        </button>
    </div>
    <div class="span_question">
        <span>Você tem certeza que quer remover sua foto de perfil?</span>
    </div>
    <div class="choice_buttons">
        <button id="bttNo">Não</button>
        <button id="bttYes">Sim</button>
    </div>
</div>