<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <link rel="stylesheet" href="./css/caduser.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="js/caduser.js"></script>
    
</head>
<body>
    <div class="container">
        <h1>Cadastro de Usuário</h1>
        <form>
            <label for="userEmail">Email</label>
            <input type="email" id="userEmail" name="userEmail" required>

            <label for="userName">Nome</label>
            <input type="text" id="userName" name="userName" required>

            <label for="userPassword">Senha</label>
            <input type="password" id="userPassword" name="userPassword" required>
            
            <div class="buttons">
                <button type="button" class="bttBack" id="bttBack">Voltar</button>
                <button type="button" class="bttCadastrar" id="bttCadastrar">Cadastrar</button>
            </div>
            
        </form>
    </div>
</body>
</html>