/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.box-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.box_out_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box_inside_grid {
    display: flex;
    flex-direction: column;
}

.box_room, .box_messages, .box_textbar {
    margin-bottom: 20px;
}

.box_messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 400px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

div.message {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    width: fit-content;
    max-width: 80%;
}

.sender {
    font-weight: bold;
    color: #333;
}

.message_data {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}

.box_textbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

input#messageInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input, button {
    font-size: 16px;
}
